
/***table样式***/
.tdtop{
	background:#6FE2FF repeat-x scroll 0 0;
	height:35px;
}
td{ height:35px;
	align:center;
	valign:middle;
	background: #fff;
	color: black;
	text-align:left;
	padding: 0px 0px 0px 20px;
}
#long_table{
	width:100%;
	overflow-x:auto;
}
#top table{
	margin-bottom:30px;	
	}

#table_fixed {
width: 470px;
margin: 0;
font-size:11px;
}

#table_fixed caption {
	width: 470px;	 
	text-align: right;
}

#table_liquid {
	width: 100%;
	margin: 0;
	clear:both;
}

#table_liquid_mid {
	width: 1400px;
	margin: 0 0 25px 0;
	clear:both;
}
#table_liquid_long {
	width: 1800px;
	margin: 0 0 25px 0;
	font-size:11px;
	clear:both;
}
#table_liquid_long_01 {
	width: 2000px;
	margin: 0 0 25px 0;
	clear:both;
}
p.table_up{
	width: 100%;	 
	text-align: right;
}
#table_liquid caption {
	padding: 0 0 5px 0;
	width: 100%;	 
	text-align: right;
}

#table_auto {
width: auto;
padding: 0;
margin: 0;
clear:both;
}
#table_auto caption {
	padding: 0 0 5px 0;
	width:auto;	 
	text-align: right;
}
.right{
	text-align:right;
}
.left{
	text-align:left;
}
/****DIV样式****/
DIV.quotes {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 3px;
	MARGIN: 3px;
	PADDING-TOP: 3px;
	TEXT-ALIGN: center
}
DIV.quotes A {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 2px;
	COLOR: black;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	TEXT-DECORATION: none
}
DIV.quotes A:hover {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 2px;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
}
DIV.quotes A:active {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 2px;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
}
DIV.quotes SPAN.thisclass {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2px;
	COLOR: black;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #f0f0f0
}
DIV.quotes SPAN.disabled {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 2px;
	COLOR: black;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
}
.content_block { list-style:none; }
