@charset "gb2312";
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;}ol,ul{list-style:none;}:focus{outline:0;}a img{border:0;}img{vertical-align:middle;}table{empty-cells:show;}ins{text-decoration:none;}del{text-decoration:line-through;}h1{font-size:20px;font-family:Arial,Lucida,Verdana,"microsoft yahei","ו",Helvetica,sans-serif;}h2{font-size:14px;}h3{font-size:14px;}h4{font-size:12px;}h5{font-size:12px;}h6{font-size:12px;}.ftx01,.flk01 a:link,.flk01 a:visited,a.flk01:link,a.flk01:visited{color:#FCD410;}.ftx02,.flk02 a:link,.flk02 a:visited,a.flk02:link,a.flk02:visited{color:#F90;}.ftx03,.flk03 a:link,.flk03 a:visited,a.flk03:link,a.flk03:visited{color:#A0410A;}.ftx04,.flk04 a:link,.flk04 a:visited,a.flk04:link,a.flk04:visited{color:#F00;}.ftx05,.flk05 a:link,.flk05 a:visited,a.flk05:link,a.flk05:visited{color:#A40F00;}.ftx11,.flk11 a:link,.flk11 a:visited,a.flk11:link,a.flk11:visited{color:#B8D1EA;}.ftx12,.flk12 a:link,.flk12 a:visited,a.flk12:link,a.flk12:visited{color:#4589BF;}.ftx13,.flk13 a:link,.flk13 a:visited,a.flk13:link,a.flk13:visited{color:#005AA0;}.ftx14,.flk14 a:link,.flk14 a:visited,a.flk14:link,a.flk14:visited{color:#12A000;}.ftx21,.flk21 a:link,.flk21 a:visited,a.flk21:link,a.flk21:visited{color:#FFF;}.ftx22,.flk22 a:link,.flk22 a:visited,a.flk22:link,a.flk22:visited{color:#CCC;}.ftx23,.flk23 a:link,.flk23 a:visited,a.flk23:link,a.flk23:visited{color:#999;}.ftx24,.flk24 a:link,.flk24 a:visited,a.flk24:link,a.flk24:visited{color:#666;}.ftx25,.flk25 a:link,.flk25 a:visited,a.flk25:link,a.flk25:visited{color:#333;}.ftx26,.flk26 a:link,.flk26 a:visited,a.flk26:link,a.flk26:visited{color:#000;}
/*layout*/
body{margin:0 auto;}
.w{width:990px;padding:0;margin:0 auto;zoom:1;}
body .fl{float:left;}body .fr{float:right;}body .fn{float:none;}
body .al{text-align:left;}body .ac{text-align:center;}body .ar{text-align:right;}
/*module*/
.m,.mt,.mc,.mb{overflow:hidden;zoom:1;}
.mt .extra{float:right;}
.m{margin-bottom:10px;}
.lh { overflow:hidden; zoom:1; }
.lh li, .lh dl, .lh .item { float:left; }
.ld { position:relative; zoom:1; }
.ld s, .ld b, .ld .block { position:absolute; overflow:hidden; }
/*tab*/
.tab{overflow:hidden;zoom:1;}
.tab li,.tab-item{float:left;text-align:center;}
/*text*/
body{font-family:Arial,"ו",Lucida,Verdana,Helvetica,sans-serif;font-size:12px;color:#333;line-height:150%;}
/*link*/
a:link,a:visited{color:#333;text-decoration:none;}
a:hover,a:active{color:#f00;text-decoration:underline;}

/*logo*/
#logo{padding:10px 0;position:relative;}


/*shortcut*/
#shortcut-2013 .fl b,
#shortcut-2013 .fr b{background-image:url(i/20130330A.png);background-repeat:no-repeat;}
#shortcut-2013,
#shortcut-2013 .w{height:30px;background:#FAFAFA;}
#shortcut-2013{width:100%;border-bottom:1px solid #eee;line-height:30px;}
#shortcut-2013 li{height:30px;padding:0 11px 0 12px;}
#shortcut-2013 li s{top:9px;left:0;width:0px;height:12px;border-left:1px solid #DDD;overflow:hidden;}
#shortcut-2013 b{transition:transform 0.2s ease-in 0s;}
#shortcut-2013 .fl{overflow:visible;}
#shortcut-2013 .fl .fore1{padding-left:16px;z-index:1;}
#shortcut-2013 .fl b{top:8px;left:0;width:13px;height:13px;background-position:-90px -23px;cursor:pointer;}
#shortcut-2013 .fl li:hover b{transform:rotate(720deg);}
#shortcut-2013 .fl .jtip{left:68px;top:6px;width:120px;line-height:16px;}
#shortcut-2013 .fr{height:30px;overflow:visible;}
#shortcut-2013 .fr b{top:13px;right:8px;width:7px;height:4px;background-position:-95px -55px;}
#shortcut-2013 .menu{width:60px;z-index:10;}
#shortcut-2013 .dd{display:none;}
#shortcut-2013 .hover .outline,
#shortcut-2013 .hover .dd{position:absolute;border:1px solid #DDD;background:#fff;-moz-box-shadow:0 0 10px #DDD;-webkit-box-shadow:0 0 10px #DDD;box-shadow:0 0 10px #DDD;}
#shortcut-2013 .hover .outline{z-index:-1;left:5px;top:3px;width:73px;height:28px;}
#shortcut-2013 .hover .blank{position:absolute;z-index:1;top:25px;left:6px;width:73px;height:6px;overflow:hidden;background:#fff;}
#shortcut-2013 .hover .dd{display:block;top:30px;}
#shortcut-2013 .fr .hover b{transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
body,#regist .mt{background:#f2f2f2;}
#shortcut,#shortcut .w{background:#fafafa;}
#regist {
    background:#FFF;
}