/*regist*/
#regist .mt{padding-right:10px;position:relative;overflow:visible;margin-bottom:-1px;border-bottom:1px solid #dddddd;}
#regist .mt .extra{position:absolute;right:20px;top:5px;}
#regist .mc{padding:22px 0 20px;border:solid #dddddd;border-width:0px 1px 1px; }
#regist .tab{height:33px;padding-left:277px;}
#regist .tab .new{height:31px;line-height:31px;margin-top:0;}
#regist .tab li{margin-right:5px;font-size:14px;width:100px;height:28px;height:font-size:18px;margin-top:3px;text-align:center;line-height:28px;color:#F79100;}
#regist .tab .curr{color:#fff;background:#ffffff;color:#e4393c;height:33px;line-height:32px;font-weight:bold;margin-top:0;-moz-box-shadow:2px 0 2px #DDDDDD; -webkit-box-shadow:2px 0 2px #DDDDDD;box-shadow:2px 0 2px #DDDDDD;}
#regist .tab li{background:#f7f7f7;border:1px solid #dddddd;}
#regist .tab li a:hover,#regist .tab li a:active{
    color: #333;
    text-decoration: none;
}

#regist .text{
    width:238px;
    height:16px;
    padding:9px 25px 9px  5px;
    border:1px solid #cccccc;
    float:none;
    font-size:14px;
    font-family:arial,"ו";
    color: #999;
}
/*superior*/
#superior{padding:30px 20px 20px;background:url(i/bg_welcome_company.gif) no-repeat 20px 0;overflow:hidden;zoom:1;}
#superior dl{float:left;width:270px;height:135px;padding:10px 20px;border-left:1px solid #eee;}
#superior dl.fore{border-left:0;}
#superior dl.fore dd{line-height:30px;}
#superior dt{font-size:14px;font-weight:bold;margin-bottom:8px;}
#superior dd{text-align:justify;color:#666;line-height: 22px;}
#superior em{font-size:24px;font-family:'Verdana';color:#7abd54;vertical-align: top;}
