/* CSS Document */
body{margin:0; padding:0; font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; color:#000;}
div,p,table,tr,td,li,dl,dd,dt{margin:0; padding:0;}
.clear{clear:both;}
img{border:0;}
a.black{color:#000; text-decoration:none;}
a.black:link,a.black:visite,a.black:hover,a.black:active{color:#000; text-decoration:none;}
a.black01{color:#999; text-decoration:none;}
a.black01:link,a.black01:visite,a.black01:hover,a.black01:active{color:#999; text-decoration:none;}
.form01{width:215px; height:39px; line-height:39px; padding-left:30px; background:none; border:0; color:#000;}
.form02{width:155px; height:39px; line-height:39px; padding-left:5px; background:none; border:0; color:#000;}
/**********登陆页面代码样式**********/
body{background:url(../images/bd_bg.jpg);}
.bd_div{width:100%; height:100%; overflow:hidden; top:0; z-index:-9999; background:none;}/*背景样式代码*/
.bd_div img{width:100%; min-width:1090px; background:url(../images/bd_bg.jpg) repeat;}/*背景图片代码*/
.content_all{width:1080px; top:15%; left:17%; z-index:10; position:absolute; margin-left:auto; margin-right:auto;}
.logo{width:1000px; height:36px; float:left;}
.gonggao{width:396px; height:276px; float:left; background:url(../images/gonggao.fw.png) no-repeat; padding-top:60px; z-index:100;}
.gonggao ul li{width:380px; float:left; height:30px; text-align:left; list-style-type:none;}
.help{width:520px; height:332px; float:left; margin-top:32px;}
.login_box{width:330px; height:320px; margin-top:32px; float:left; background:#fff; opacity: 0.9; -ms-filter:"alpha(opacity=90)";}
.title{wi330px; height:40px; line-height:40px; text-align:center; font-family:"微软雅黑"; font-weight:bold; font-size:16px; color:#3357A3;}
.username{width:245px; height:42px; background:url(../images/username.fw.png) no-repeat; margin-left:auto; margin-right:auto;}
.password{width:245px; height:42px; background:url(../images/password.fw.png) no-repeat; margin-left:auto; margin-right:auto; margin-top:15px;}
.password_tishi{width:245px; text-align:right; padding:5px 0; color:#999; font-size:14px; margin-left:auto; margin-right:auto; overflow:hidden;}
.yanzheng{width:160px; height:42px; background:url(../images/yanzheng.fw.png) no-repeat; margin-left:42px; margin-top:10px; float:left;}
.yanzhengimg{width:77px; height:42px; float:left; margin-top:10px;}
.btn{width:330px; height:42px; margin-left:auto; margin-right:auto; margin-top:15px; float:left;}