/* CSS Document */
body{margin:0; padding:0; font-family:"瀹嬩綋",Arial, Helvetica, sans-serif; font-size:12px; color:#000;}
div,p,table,tr,td,li,dl,dd,dt,ul,li{margin:0; padding:0;}
.clear{clear:both;}
img{border:0;}
a.black{color:#000; text-decoration:none;}
a.black:link,a.black:visite,a.black:hover,a.black:active{color:#000; text-decoration:none;}
a.black01{color:#999; text-decoration:none;}
a.black01:link,a.black01:visite,a.black01:hover,a.black01:active{color:#999; text-decoration:none;}
a.orange{color:#F90; text-decoration:none; margin-left:20px; text-decoration:none;}
a.orange:link,a.orange:visite,a.orange:hover,a.orange:active{color:#F90; text-decoration:underline; font-weight:bold; font-size:14px;}
a.orange1{color:#F90; text-decoration:none; text-decoration:underline;cursor:pointer;}
a.orange1:link,a.orange1:visite,a.orange1:hover,a.orange1:active{color:#F90; text-decoration:underline;}
a.red{color:#f00; text-decoration:none;}
a.red:link,a.red:visite,a.red:hover,a.red:active{color:#f00; text-decoration:underline;}
.iframetop{width:100%; height:136px; border:0;}
.iframeleft{width:212px; float:left; height:600px; border:0; margin-top:-1px; overflow-x:hidden;}
.iframeright{width:86%; float:right; margin-top:-1px; border:1px solid #CCC; height:620px; background:#FFF;}

.form001{width:160px; height:22px; border:1px #CCCCCC solid;}
.form002{width:100px; height:22px; border:1px #CCCCCC solid;}
.form003{width:300px; height:22px; border:1px #CCCCCC solid;}
.form004{width:500px; height:150px; border:1px #CCCCCC solid;}


/***鐧婚檰鎴愬姛鍚庨〉闈㈠ご閮�**/
.top_bg{width:100%; height:99px; background:url(../images/top_bg.jpg) repeat-x; border-bottom:1px solid #CCC;}
.logo{width:346px; height:71px; margin-left:30px; margin-top:14px; float:left;}
.topbtn{width:54px; height:69px; float:right; margin-top:15px; margin-right:25px;}
.bar{width:100%; height:35px; background:#EDF4FA; border-bottom:1px solid #CCC;}
.bar_left{width:300px; height:35px; float:left; padding-left:10px; line-height:35px;}
.bar_right{width:157px; height:35px; float:right; background:url(../images/bar_right.jpg) no-repeat;}

/***宸﹁竟鍒楄〃浠ｇ爜***/
.left{width:210px; margin-top:0px;; float:left; border:1px solid #B9B9C8; background:#FFF;}
.left_nav1{width:140px; height:35px; background:url(../images/left_bg01.jpg) no-repeat; margin-bottom:1px; text-align:left; padding-left:70px; line-height:35px;cursor:pointer;}
.left_nav2{width:140px; height:35px; background:url(../images/left_bg02.jpg) no-repeat; margin-bottom:1px; text-align:left; padding-left:70px; line-height:35px;cursor:pointer;}
.left_navcont{width:210px; }
.left_navcont ul li{width:100%; height:30px; line-height:35px; text-align:left; list-style-type:none; padding-left:70px;}


/***cp鍩烘湰淇℃伅鏍峰紡***/
.cp-title{width:100%; height:40px; background:url(../images/title-top.jpg) repeat-x; line-height:40px;}
.cp-title a{width:auto; height:40px; float:left; margin-left:20px; color:#000; width:120px;}
.cp-search{width:100%; margin:0; padding:0;}
.search{width:72px; height:27px; background:url(../images/seach-btn.png) no-repeat; border:0;}
.listtable{width:100%; margin:0; padding:0;}
.cp-infotitle{width:100%; height:40px; background:#f2f2f2; line-height:40px;}
.cp-infotitle a{width:auto; height:40px; float:left; margin-left:20px; color:#000; width:120px;}
.cp-infobuttom{width:100%; height:40px; background:#DEF; line-height:40px;}


/***棣栭〉鍙宠竟鏍峰紡***/
.index_rightconts{width:410px; float:left; margin-left:130px; margin-top:60px;}
.tishi{width:402px; height:38px; border:1px solid #CCC; background:url(../images/index_righttp.jpg) repeat-x; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; text-align:left;}
.tishi a{color:#9F834C; font-weight:bold; margin-left:8px; line-height:29px;}
.tishi_cont{width:402px; border:1px solid #CCC; margin-top:-6px; background:#FFF;}
.tishi_cont td{border-bottom:1px dashed #CCCCCC;}

/***table鏍峰紡***/
.tdtop{
	background:#6FE2FF repeat-x scroll 0 0;
	height:35px;
}
td{ height:50px;
	align:center;
	valign:middle;
	background: #fff;
	color: black;
	text-align:left;
	padding: 0px 0px 0px 20px;
}
#long_table{
	width:100%;
	overflow-x:auto;
}
#top table{
	margin-bottom:30px;	
	}

#table_fixed {
width: 470px;
margin: 0;
font-size:11px;
}

#table_fixed caption {
	width: 470px;	 
	text-align: right;
}

#table_liquid {
	width: 100%;
	margin: 0;
	clear:both;
}

#table_liquid_mid {
	width: 1400px;
	margin: 0 0 25px 0;
	clear:both;
}
#table_liquid_long {
	width: 1800px;
	margin: 0 0 25px 0;
	font-size:11px;
	clear:both;
}
#table_liquid_long_01 {
	width: 2000px;
	margin: 0 0 25px 0;
	clear:both;
}
p.table_up{
	width: 100%;	 
	text-align: right;
}
#table_liquid caption {
	padding: 0 0 5px 0;
	width: 100%;	 
	text-align: right;
}

#table_auto {
width: auto;
padding: 0;
margin: 0;
clear:both;
}
#table_auto caption {
	padding: 0 0 5px 0;
	width:auto;	 
	text-align: right;
}
.right{
	text-align:right;
	width:150px;
}
.cleft{
	text-align:left;
		width:200px;
}
/****DIV鏍峰紡****/
DIV.quotes {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 3px;
	MARGIN: 3px;
	PADDING-TOP: 3px;
	TEXT-ALIGN: center
}
DIV.quotes A {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 2px;
	COLOR: black;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	TEXT-DECORATION: none
}
DIV.quotes A:hover {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 2px;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
}
DIV.quotes A:active {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 2px;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
}
DIV.quotes SPAN.thisclass {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2px;
	COLOR: black;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #f0f0f0
}
DIV.quotes SPAN.disabled {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 2px;
	COLOR: black;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
}
.content_block { list-style:none; }



.banner_top{width:100%; height:35px; background:url(../images/title-top.jpg) repeat-x;}
.banner_top_con{width:1000px; margin-left:auto; margin-right:auto; height:35px;}
.banner_left{width:500px; float:left; height:35px; line-height:35px; text-align:left;}
.banner_left img{margin-top:6px; float:left;}
.banner_left a{display:block; height:35px; line-height:35px; width:200px; float:left;}
.banner_right{width:300px; float:right; height:35px; line-height:35px;}
.banner_right ul li{width:40px; height:35px; float:right; line-height:35px; list-style-type:none;}


.products-banner{width:998px; height:194px; margin-top:8px; margin-left:auto; margin-right:auto; border:1px solid #ACD6FF;}
.products-cont{width:1000px; margin-top:8px; margin-left:auto; margin-right:auto; margin-bottom:8px; }
.products-contleft{width:250px; float:left; box-shadow:#CCC 4px 4px 4px; -moz-box-shadow:#CCC 4px 4px 4px; -webkit-box-shadow:#CCC 4px 4px 4px; border:1px solid #CCC;}
.products-contleft-top{width:250px; height:32px; background:url(../images/left-top.jpg) repeat-x; float:left;}
.ioc04{width:10px; height:10px; margin-left:8px; margin-top:15px; float:left;}
.products-left-title{ margin-left:10px; width:100px; height:20px; margin-top:10px; float:left; text-align:left; color:#fff; font-family:"寰蒋闆呴粦"; font-size:16px; line-height:20px;}
.products-left-cont{width:250px; float:left;}
.products-left-cont ul li{width:250px; height:45px; line-height:45px; margin-left:auto; margin-right:auto; list-style-type:none; border-bottom:1px solid #CCC; background:#EAEAEA; border-top:1px #FFFFFF solid;}
a.onselect{width:240px; height:45px; line-height:45px; padding-left:10px; background:#FFF; display:block}
a.onselect:link,a.onselect:hover,a.onselect:visited,a.onselect:active{color:#f00; font-weight:bold; text-decoration:none;}
a.noselect{width:240px; height:45px; line-height:45px; padding-left:10px; background:#EAEAEA; display:block}
a.noselect:link,a.noselect:hover,a.noselect:visited,a.noselect:active{color:#666; font-weight:bold; text-decoration:none;}
.service{width:250px; height:128px; float:left;}
.products-right{width:730px; float:right; border:1px solid #CCC; height:auto;}
.products-righttitle{width:715px; height:40px; margin-left:auto; margin-right:auto; margin-top:10px; padding-left:5px; border-bottom:1px dashed #999999;}
.titlecont{width:250px; height:40px; line-height:40px; text-align:left;}
.productsrightconts{width:95%; padding:10px; text-align:left; line-height:25px; margin-left:auto; margin-right:auto;}
.fangan-banner{width:730px; height:190px;}
.products-rights{width:100%; float:right; box-shadow:#CCC 4px 4px 4px; -moz-box-shadow:#CCC 4px 4px 4px; -webkit-box-shadow:#CCC 4px 4px 4px; border:1px solid #CCC; height:auto;}
.products-righttitles{width:995px; height:40px; margin-left:auto; margin-right:auto; margin-top:10px; padding-left:5px; border-bottom:1px dashed #999999;}
.news-cont{width:680px; margin:0 auto; padding:5px;}
.news-cont ul li{width:680px; height:35px; line-height:35px; text-align:left; border-bottom:1px dashed #CCCCCC; list-style-type:none;}
.newstitle{color:#666; font-size:16px; margin-left:auto; margin-right:auto; height:35px; line-height:35px; text-align:center; font-weight:bold;}
.newsdate{color:#666; margin-left:auto; margin-right:auto; height:35px; line-height:35px; text-align:center;}
.footers{width:100%; height:35px; background:url(../images/title-top.jpg) repeat-x; text-align:center; line-height:35px;}

.cursor{cursor:pointer;}

/**閿欒鎻愮ず鏍峰紡**/
label.error { 
	color:Red; 
	font-size:13px; 
	margin-left:5px; 
	padding-left:16px; 
	background:url("error.png") left no-repeat; 
} 