<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.dao.CompanyUserMapper">
	<resultMap id="result" type="com.panda.user.po.CompanyUserPo">
		<result property="id" column="id" />
		<result property="userName" column="userName" />
		<result property="passWord" column="passWord" />
		<result property="contactName" column="contactName" />
		<result property="deptName" column="deptName" />
		<result property="cTel" column="cTel" />
		<result property="cellPhone" column="cellPhone" />
		<result property="contactMail" column="contactMail" />
		<result property="companyName" column="companyName" />
		<result property="companyAddress" column="companyAddress" />
		<result property="companyPeoNum" column="companyPeoNum" />
		<result property="companyTrade" column="companyTrade" />
		<result property="companyType" column="companyType"/>
		<result property="companyData" column="companyData"/>
		<result property="status" column="status"/>
	</resultMap>
	<insert id="saveCompanyUser" parameterType="com.panda.user.po.CompanyUserPo">
		INSERT INTO companyUser
		(userName,passWord,contactName,deptName,cTel,cellPhone,contactMail,companyName,companyAddress,companyPeoNum,companyTrade,companyType,companyData,status)
		VALUE
		(#{userName},#{passWord},#{contactName},#{deptName},#{cTel},#{cellPhone},#{contactMail},#{companyName},#{companyAddress},#{companyPeoNum},#{companyTrade},#{companyType},#{companyData},#{status})
	</insert>
	<select id="getCompanyUserById" parameterType="int" resultMap="result">
		SELECT * FROM companyUser where id =#{id};
	</select>
	<select id="getUserByUserName" parameterType="java.lang.String" resultMap="result">
		SELECT * FROM companyUser where  userName=#{userName};
	</select>
</mapper>